<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>slave1</name>
  <description>c job </description>
  <remoteFS>/home/ubuntu/</remoteFS>
  <numExecutors>1</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.31.0">
    <host>172.31.12.32</host>
    <port>22</port>
    <credentialsId>1e06389e-63bb-48c2-b3ac-f47cdc0c1b48</credentialsId>
    <launchTimeoutSeconds>210</launchTimeoutSeconds>
    <maxNumRetries>10</maxNumRetries>
    <retryWaitTime>15</retryWaitTime>
    <sshHostKeyVerificationStrategy class="hudson.plugins.sshslaves.verifiers.NonVerifyingKeyVerificationStrategy"/>
    <tcpNoDelay>true</tcpNoDelay>
  </launcher>
  <label>leb1</label>
  <nodeProperties/>
</slave>